@import '../../App';

.profileSection {
    padding: 15px;

    h4 {
        @include headlineMedium;
    }

    .profileUser {
        display: flex;
        align-items: center;
        margin: 6rem 0 4rem 5rem;

        img {
            width: 80px;
        }

        p {
            @include headlineBig;
            margin-left: 2rem;
        }
    }

    .profileYoga {
        margin-top: 8rem;

        article {
            display: flex;
            overflow-x: scroll;
        }
    }

}