@import '../../App';

.homeSection {
    margin-bottom: 100px;

    .homeHeaderWrapper {
        margin: 15% 0 0 5%;

        h2 {
            @include headlineMedium;
            margin-bottom: 3%
        }

        p {
            @include subtitle;
        }
    }

    .homeTopTilesWrapper {
        width: 90%;
        height: 20rem;
        margin: 10% auto 5% auto;
        display: flex;
        justify-content: space-between;

        .homeSingleTileWrapper {
            width: 48%;
            background-image: url('../../assets/img/healthyBack.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            padding-bottom: 1.3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:nth-of-type(2) {
                background-image: url('../../assets/img/meditateImg.jpeg');
            }

            .homeSingleTileHeadline {
                font-family: $SSP900;
                color: $beigeColor;
                font-size: 1.8rem;
                padding: 35px 0 0 0;
                margin: 15% 0 3% 7%;
                width: 15%;
                line-height: 20px;
            }

            .homeSingleTileLevel {
                color: $beigeColor;
                font-family: $SSP600;
                margin-left: 7%;
                font-size: 1.4rem;
            }

            div {
                display: flex;
                align-items: center;
                margin: 15% 0 0 7%;
                font-family: $SSP400;


                p {
                    color: $beigeColor;
                    margin: 0 20% 0 4%;
                }

                button {
                    border: transparent;
                    border-radius: 20px;
                    font-size: 1.1rem;
                    background-color: $beigeColor;
                    color: $darkGreenColor;
                    padding: 12px 15px;
                }
            }
        }
    }


    .homeRecomended {
        p {
            @include headlineMedium;
            margin: 7% 0 4% 3%;
        }

        article {
            display: flex;
            align-items: flex-start;
            column-gap: 10px;
            flex-direction: row;
            overflow-x: scroll;
            padding-right: 10px;
        }
    }
}