@import '../../App';

.homeSection {
    margin-bottom: 100px;
    padding: 15px 15px 15px 15px;

    .homeHeaderWrapper {
        margin: 50px 0 0 0;

        h2 {
            @include headlineMedium;
            margin-bottom: 17px
        }

        p {
            @include subtitle;
        }
    }

    .homeTopTilesWrapper {
        margin: 25px 0 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        color: $beigeColor;

        .homeSingleTileWrapper {
            // width: 48%;
            width: calc(100vw /2.3);
            height: calc(100vw /2);
            // height: ;
            aspect-ratio: 1 / 1.2;
            background-image: url('http://res.cloudinary.com/de3tbljvy/image/upload/v1676577122/Images/tm8o3c7vblv3ljkn7qkj.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            padding-bottom: 1.3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 10px;
            padding: 20px 10px 10px 10px;

            &:nth-of-type(2) {
                background-image: url('http://res.cloudinary.com/de3tbljvy/image/upload/v1676577288/Images/hbjtbknbngmxsfgsbtnx.jpg');
            }

            .homeSingleTileHeadline {
                font-family: $SSP900;
                font-size: 1.8rem;
                padding: 35px 0 0 0;
                width: 100px;
                line-height: 20px;
            }

            .homeSingleTileLevel {
                font-family: $SSP600;
                font-size: 1.4rem;
            }

            div {
                display: flex;
                align-items: center;
                margin-top: 20px;
                font-family: $SSP400;
                justify-content: space-between;
                padding: 5px;

                button {
                    border: transparent;
                    border-radius: 20px;
                    font-size: 1.1rem;
                    background-color: $beigeColor;
                    color: $darkGreenColor;
                    padding: 12px 15px;
                }
            }
        }
    }


    .homeRecomended {
        p {
            @include headlineMedium;
            margin: 20px 0 20px 0;
        }



        article {
            display: flex;
            align-items: flex-start;
            column-gap: 10px;
            flex-direction: row;
            overflow-x: scroll;
            overflow-y: hidden;

        }
    }
}