@import '../../App';

.smallCard {
    width: 100%;
    padding-left: 5%;

    img {
        height: 100px;
        width: 145px;
        border-radius: 10px;
        object-fit: cover;
    }

    h3 {
        font-family: $SSP900;
        color: $darkGreenColor;
        margin: 5% 0 0 3%;
        font-size: 1.2rem;
    }

    .smallCardBottom {
        display: flex;
        width: 100%;
        justify-content: space-between;

        p {
            color: $grayColor;
            @include subtitle;
            font-size: 1rem;
            margin-right: 2%;
            margin-bottom: 10%;

            &:nth-of-type(1) {
                text-transform: uppercase;
            }
        }
    }
}