@import '../../App';

.searchBarDiv {


    margin: 0 auto;


    position: relative;

    .search {
        position: absolute;
        padding: 10px;
        width: 100%;
        border: 1px solid black;
        background-color: #ecedf0;
        border-radius: 10px;
        z-index: 2;
        border: none;
        @include subtitle // background-image: url('../../assets/img/lupe.svg');
        // background-repeat: no-repeat;
        // background-position: 320px;
        // background-size: 15px;
    }

    &::before {
        position: absolute;
        content: '';
        background-image: url('../../assets/img/lupe.svg');
        background-size: cover;
        height: 20px;
        width: 20px;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 3;
    }

    input:focus {
        outline: none;
        box-shadow: inset 3px 3px 6px -4px rgb(162, 158, 158);
    }

    .searchResultsHidden {
        display: none;
    }

    .searchResultsShown {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: absolute;
        background-color: #ecedf0;
        width: 100%;
        margin-top: 1.8rem;
        padding: 3rem 1rem;
        border-radius: 0 0 10px 10px;
        box-shadow: 3px 3px 6px rgb(162, 158, 158);
        z-index: 1;

        p {
            @include subtitle;
            font-size: 1.3rem;
        }
    }

}