@import '../../App';

.searchBarDiv {

    margin: 0 auto;

    position: relative;

    .search {
        padding: 10px;
        width: 100%;
        border: 1px solid black;
        background-color: #ecedf0;
        border-radius: 10px;
        z-index: 1;
        border: none;
        // background-image: url('../../assets/img/lupe.svg');
        // background-repeat: no-repeat;
        // background-position: 320px;
        // background-size: 15px;
    }

    &::before {
        position: absolute;
        content: '';
        background-image: url('../../assets/img/lupe.svg');
        background-size: cover;
        height: 20px;
        width: 20px;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 2;
    }

    input:focus {
        outline: none;
    }

    .searchResultsHidden {
        display: none;
    }

    .searchResultsShown {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: absolute;
        background-color: #ecedf0;
        width: 100%;
        margin-top: -1rem;
        padding: 3rem 1rem;
    }

}