@import "../../App.scss";

.catFilter {

    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    article {
        width: 18%;
        height: 100%;

        img {
            width: 100%;
        }

        .pNotActive {
            text-align: center;
            @include subtitle;
        }

        .pActive {
            text-align: center;
            @include subtitle;
            color: $darkGreenColor;
        }
    }
}