@import '../../App';

.registerLoginSection {
    background-image: url('../../assets/img/loginRegisterImg.png');
    padding-bottom: 40vh;
    background-repeat: no-repeat;

    .login {
        width: 90%;
        margin: 0 auto;

        .registerLoginHeading {
            margin-bottom: 13vh;
            padding-top: 5vh;
            font-family: $SSP700;
            text-align: center;
            font-size: 3rem;
            color: $darkGreenColor;
        }
    }

    .registerLoginInput {
        width: 100%;
        margin-bottom: 6%;
        padding: 4% 0;
        text-align: center;
        font-family: $SSP600;
        font-size: 1.6rem;
        color: $grayColor;
        background-color: transparent;
        border: 1px solid $orangeColor;
        border-radius: 30px;
    }

    .registerLoginParagraph {
        font-family: $SSP600;
        color: $grayColor;
        font-size: 1.6rem;
        width: 80%;
        text-align: center;
        margin: 2vh auto;
    }

    .registerLoginLink {
        text-decoration: none;
        color: $orangeColor;
        font-size: 1.6rem;
    }

    .register {
        width: 90%;
        margin: 0 auto;

        .registerLoginHeading {
            margin-bottom: 13vh;
            padding-top: 5vh;
            font-family: $SSP700;
            text-align: center;
            font-size: 3rem;
            color: $darkGreenColor;
        }
    }
}