@import '../../App';


.landingPageWrapper {
    .landingPageImg {
        background-image: url('../../assets/img/landingImg.png');
        height: 65vh;
        background-repeat: no-repeat;
    }

    .landingPageArticle {

        .landingPageHeading {
            @include headlineSmall;
            text-align: center
        }

        h3 {
            @include subtitle;
            width: 80%;
            margin: 2vh auto;
            text-align: center;
        }

        // ab hier zweiter article
        .landingPageText:nth-of-type(1) {
            padding-bottom: 5vh;
        }

        .landingPageLink {
            text-decoration: none;
            color: $orangeColor;
            font-size: 1.6rem;
        }
    }
}