@import '../../App';

.songItem {
    width: 90%;
    margin: 0 auto;
    padding: 3% 0;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    border-bottom: 1px solid rgb(219, 219, 219);

    div {
        margin-left: 5%;

        h3 {
            font-family: $SSP600;
            color: $darkGreenColor;
            font-size: 1.6rem;
        }

        p {
            font-size: 1.2rem;
            color: $grayColor;
        }
    }
}