@font-face {
  font-family: SourceSansPro400;
  src: url("./assets/font/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: SourceSansPro600;
  src: url("./assets/font/SourceSansPro-SemiBold.ttf");
}

@font-face {
  font-family: SourceSansPro700;
  src: url("./assets/font/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: SourceSansPro900;
  src: url("./assets/font/SourceSansPro-Black.ttf");
}

$grayColor: #A1A4B2;
$orangeColor: #E28F83;
$darkGreenColor: #4A503D;
$lightGreenColor: #8E9775;
$whiteColor: #FEFCF8;
$beigeColor: #FAF2DA;

$SSP900: SourceSansPro900;
$SSP700: SourceSansPro700;
$SSP600: SourceSansPro600;
$SSP500: SourceSansPro400;

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

// ------------MIXINS-------------
@mixin h2Styles {
  font-family: $SSP700;
  text-align: center;
  font-size: 3rem;
  color: $darkGreenColor;
}


@mixin h3Styles {
  font-family: $SSP600;
  color: $grayColor;
  font-size: 1.6rem;
  text-align: center;
}